.navbar-custom{
padding: 4px;
font-size: 37px;
}
.navbar-brand {
font-size: 43px;
padding-left: 46px;
	}
.navbar-custom ul li{
padding-left: 3px;
padding-right: 37px;
}
.navbar .navbar-nav .nav-item a:hover{
	color:#c69f8b;

	

}
.navbar .navbar-nav .nav-item .active{
	color: #db4f19;
}

/*for carousel*/
    .carousel-item {
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@font-face {
   font-family: myFirstFont;
   src: url(bohem.otf);

}

.fonts{
   font-family: myFirstFont;
}

@font-face {
   font-family: brand;
   src: url(wild.ttf);

}

.fonts-brand{
   font-family: brand;
}

@media only screen and (max-width: 760px){
.navbar a{
	text-align: center;
}
.navbar-custom ul li a{
	text-align: center;
}
.navbar-design .navbar a{
align-items: center;

box-sizing: border-box;

display: flex;

flex-basis: auto;

flex-grow: 1;

font-weight: 400;

justify-content: center;


text-align: left;

-moz-box-align: center;

-moz-box-flex: 1;

-moz-box-pack: center;
}
}